
<body>
<form action="" method="post">
  {% csrf_token %}
  <h2> Register </h2>
  <ul>
  <li><label>e-mail</label><input class="email" type="email" required></li>
  <li><label> Phone Number </label> <input class="phone" type="tel" required></li>
  <li><label> Birthday </label> <input class="dob" type="date" required></li>
  <li><label> Age </label> <input class="age" type="number" required></li>
  <li><label> Username </label> <input class="username" required></li>
  <li><label> Password </label> <input class="password" type="password" required></li>
  <button> Submit </button>
</ul>
<form>
</body>
