{% extends "base.html" %}
{% load staticfiles %}

{% block title %}All Users{% endblock %}

{% block content %}
<head>
</head>
<body>
  <div class="container"id="needspadding">
    <div class="col-md-6">
      <h2>Users:</h2>
            {% for user in all_users %}
            <div class="list-group">
              <a href="{% url 'profile_detail' user.id %}" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">{{ user.username }}</h5>
              </a>
            </div>
          {% endfor %}
    </div>
  </div>
</body>
{% endblock %}
