{% extends "base.html" %} {% load staticfiles %} {% block content %}


<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="questionTitle">Question Title</label>
        <input type="text" class="form-control" placeholder="What's your question? Be specific.">
    </div>

    <div class="form-group">
        <label for="questionText">Question Text</label>
        <textarea class="form-control" rows="5" placeholder="What's your question? Be specific."></textarea>
    </div>

    <div class="form-group">
        <label for="questionText">Tags</label>
        <input type="text" class="form-control" id="tokenfield" placeholder="Tags">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="{% static 'question/js/ask.js' %}"></script>

{% endblock %}
