<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}Haystack{% endblock %}
        {% load static %}
    </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Rokkitt" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.css">
      <link rel="stylesheet" type="text/css" href="{% static 'question/css/style.css' %}" />
  </head>
<body>
  <nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand" href="{% url 'index' %}"><img class='pull-link-left' id='qbox' src='{% static 'question/images/haystack.img' %}'></a>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ask' %}">ask!</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'profile_detail' user.pk %}">welcome, {{ user.username }}</a></li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">log in</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">sign up<span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
            <li class="nav-item">
              <form class="form-inline navbar-form pull-xs-right" action="{% url 'search' %}" role="search" id='search' method="get" accept-charset="utf-8">
              {% csrf_token %}
              <div class="form-group">
                <input class="form-control" type="search" placeholder="Search Q&A" name='q' results="0">
              </form>
            </li>
      </ul>
  </div>
  </nav>
<div id='pagebody' class="container">
<div class='row m-t-0' id='secondheader'>
  <div class="col-xl-8 pull-xl-left pull-link-left">
    <a href="{% url 'all_questions' %}" class="btn btn-outline-secondary btn-md active" role="button" aria-pressed="true">Questions</a>
    <a href="{% url 'all_users' %}" class="btn btn-outline-secondary btn-md active" role="button" aria-pressed="true">Users</a>
  </div>
  <div class="col-xl-4 pull-xs-right pull-link-right">
    <div class="img-with-text">
      <a class="navbar-brand" href="{% url 'index' %}">
      <img class='pull-xs-right' id='bbox' src='{% static 'question/images/haystack.img' %}'><h1>Haystack</h1></a>
    </div>
  </div>
</div>
    {% block content %}{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
<script type="text/javascript" scr="{% static 'question/js/cookie.js' %}"></script>
{% block scripts %}{% endblock %}
</body>

</html>
