{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h2>Question Title Here</h2>

<ul class="list-group">
  <li class="list-group-item" id="question">
      Question Text will go here.  Question Text will go here.  Question Text will go here.  Question Text will go here.  Question Text will go here.  Question Text will go here.  Question Text will go here.
      <!-- Add voting buttons -->
      <ul class="list-group">
        <li class="list-group-item" id="comment">Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  </li>
        <li class="list-group-item" id="comment">Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  </li>
        <!-- Add comment form -->
      </ul>
  </li>
  <li class="list-group-item">
      Answer text will go here. Answer text will go here. Answer text will go here. Answer text will go here. Answer text will go here. Answer text will go here. Answer text will go here.
      <!-- Add voting buttons -->
      <ul class="list-group">
        <li class="list-group-item" id="comment">Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  </li>
        <li class="list-group-item" id="comment">Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  Comment text will go here.  </li>
        <!-- Add comment form -->
      </ul>
  </li>
  <li class="list-group-item">
      Answer Text
      <!-- Add voting buttons -->
      <!-- Add comment form -->
  </li>
  <li class="list-group-item">
      Answer Text
      <!-- Add voting buttons -->
      <!-- Add comment form -->
  </li>
</ul>
<!-- Add form for answers here -->
{% endblock %}
