nav.navbar.navbar-dark.bg-inverse {
  width: 100%;
  padding-left: 0;
  position: relative;
  font-size: 14px;
  height: 18px;
  line-height:10px;
}

ul.nav.navbar-nav.pull-xs-right li a:hover {
  text-color: #ECE8E6;
  background: none;
}

input.form-control {
  font-size: 14px;
  /*padding: 0 10px;*/
  text-align: left;
}


#search{
  width: auto;
  height: 10px;
}

a.navbar-brand {
  font-size: 16px;
  color: #F48024;
}

#qbox {
  width:25px;
  height:25px;
  border-radius: 50%;
}

#bbox {
  width:50px;
  height:50px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#needspadding {
  margin-top: 1cm;
}

#pagebody {
  margin-bottom: 3cm;
}

*{
  font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Leckerli One', cursive;
}

div.img-with-text{
  display: inline-block;
  text-align: center;
}

.user {
  color: white;
}

div.col-md-6.pull-xs-right{
  text-align: right;
}

.pull-link-right {
  text-align: center;
}

#vote, #vote_counter {
    list-style: none;
}
