nav.navbar.navbar-dark.bg-inverse {
  width: 100%;
  padding-left: 0;
  position: relative;
  font-size: 14px;
}


input.form-control {
  font-size: 14px;
  padding: 0 15px;
  text-align: left;
}

a.navbar-brand {
  font-size: 16px;
  color: #F48024;
}

#qbox {
  width:40px;
  height:40px;
}

#pagebody{

}

.nav.navbar-nav li a{
  display: inline-block;
  text-align: right;
}

#navqs{
  text-decoration: none;
  color: #FFF;
  background: #9FA6AD;
}
#navqs:hover{
  background: #F69C55;
}
#navqs:active{
  background: #F69C55;
}

*{
  font-family: 'Arimo', sans-serif;
}

#secondheader{

}

a{

}

h2, h3 {
  font-family: 'Passion One', cursive;
}

#sidemenu .nav ul li.youarehere a:hover{
     background: #F69C55;
 }

.user {
  color: white;
}


div.col-md-6.pull-xs-right{
  text-align: right;
}

.pull-link-right {
  text-align: right;
}

#vote, #vote_counter {
    list-style: none;
}
